<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iShare</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>iShare</h1>

    <section class="main-section-container">
      <div class="main-section">
        <img
          src="/images/download.jpg"
          alt="download_logo"
          class="download-logo"
        />
        <p>Drag and Drop the file you want to share</p>
        <strong>*File size should be less than 100KB*</strong>
        <form action="/api/upload" method="post" enctype="multipart/form-data">
          <input class="custom-file-input" type="file" name="myfile" required/>
          <button>Sumbit</button>
        </form>
      </div>
    </section>
  </body>
</html>
