:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  height: 97vh;
  color: white;
}

h1 {
  margin: 20px;
  color: white;
}

.main-section {
  /* border: 2px solid black; */
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.main-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-logo {
  height: 200px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"]::-webkit-file-upload-button {
  border: 2px dashed red;
  height: 3rem;
  width: 60%;
  margin: 10px;
  border-radius: 5px;
  background-color: aqua;
}

button {
  height: 30px;
  width: 100px;
  margin: 10px;
  background-color: rgb(255, 162, 162);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px rgb(255, 255, 255);
  cursor: pointer;
}

button:hover{
  box-shadow: 2px 2px rgb(255, 255, 255);
}